line-length = 120
target-version = "py311"

[lint]
select = [
  "E",  # pycodestyle errors
  "F",  # pyflakes
  "I",  # isort
]
ignore = [
  "E501",  # line length handled by formatter/editor
]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
